<header class="header">

    <div class="header-container">

        <div class="logo">
            NexusShop
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">Shop & Dine</a>
        </nav>

        <div class="search-box">
            <input type="text" placeholder="Buscar produtos..." [(ngModel)]="searchText" (keyup.enter)="search()" />
            <button (click)="search()"><mat-icon>search</mat-icon></button>
        </div>

        @if (authStore.isAuthenticated()) {

        <div class="actions">
            <a href="#"><mat-icon>favorite</mat-icon></a>
            <a href="#">
                <mat-icon>shopping_cart</mat-icon>
                <span class="badge">2</span>
            </a>

            <button>
                <img src="#" alt="account-profile">
            </button>

        </div>

        } @else {

        <div class="actions">
            <a href="auth">Login</a>

            <div>|</div>

            <a href="#">
                <mat-icon>shopping_cart</mat-icon>
                <span class="badge">2</span>
            </a>

        </div>

        }

    </div>

</header>