<header class="header">
    <div class="header-container">

        <div class="logo">
            <img src="#" >
            NexusShop
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">Shop & Dine</a>
        </nav>

        <div class="search-box">
            <input type="text" placeholder="Buscar produtos..." />
            <button><mat-icon>search</mat-icon></button>
        </div>

        @if (loggedIn){
        <div class="actions">
            <a href="#">Favourites (icon)</a>
            <a href="#">
                Cart (icon)
                <span class="badge">2</span>
            </a>
            <button>
                <img src="#" alt="account-profile">
            </button>
        </div>
        } @else {
        <div class="actions">
            <a href="#">Entrar</a>

            <div>|</div>

            <a href="#">
                Cart (icon)
                <span class="badge">2</span>
            </a>
        </div>
        }
    </div>
</header>
