<header class="header">

    <div class="header-container">

        <div class="logo">
            NexusShop
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">Explore</a>
        </nav>

        <div class="search-box">
            <input type="text" placeholder="Buscar produtos..." />

            <button>🔍</button>
        </div>

        @if (authStore.isAuthenticated()) {

        <div class="actions">

            <a href="#">
                Favourites
            </a>

            <a href="#">
                Cart
                <span class="badge">2</span>
            </a>

            <button>
                <img src="#" alt="account-profile">
            </button>

        </div>

        } @else {

        <div class="actions">

            <a href="#">
                Entrar
            </a>

            <div>|</div>

            <a href="#">
                Cart
                <span class="badge">2</span>
            </a>

        </div>

        }

    </div>

</header>