<div class="card-container">

    <div class="tags">
        @if (product.category) {
        <span>{{ product.category }}</span>
        }
    </div>

    @if (product.originalPrice && product.originalPrice > product.price) {
    <div class="discount-badge">
        {{
        (((product.originalPrice - product.price) / product.originalPrice) * 100).toFixed(0)
        }}% OFF
    </div>
    }

    <img [src]="product.imgUrl ? product.imgUrl : 'https://placehold.co/400'" alt="product-img">

    <div class="card-content">

        <div class="card-content_row">

            <div>
                <h1>{{ product.name }}</h1>
                <h2>{{ product.description }}</h2>
            </div>

            <div class="rating">
                {{ product.averageRating | number:'1.1-1' }}
                <mat-icon>star</mat-icon>
            </div>

        </div>

        <div class="final-row">

            <div class="price">

                <p class="final-price">
                    ${{ product.price }}
                </p>

                @if (product.originalPrice && product.originalPrice > product.price) {
                <p class="original-price">
                    ${{ product.originalPrice }}
                </p>
                }

            </div>

            <button class="add-btn">
                <mat-icon>add</mat-icon>
            </button>

        </div>

    </div>

</div>