<div class="card-container">
    <div class="tags">
        @if (product?.tags) {
        @for (tag of product?.tags; track tag) {
        <span>{{ tag }}</span>
        }
        }
    </div>

    <img src="{{ product.imgUrl ? product.imgUrl : 'https://placehold.co/400' }}" alt="product-img">

    <div class="card-content">
        <div class="card-content_row">
            <h1>{{ product.name }}</h1>
            <h3>{{ product.rating }}</h3>
        </div>
        <h2>{{ product.description }}</h2>

        <div class="final-row">
            <div class="price">
                <p class="final-price">R$ {{ product.price }}</p>
                @if (product && product.originalPrice > product.price) {
                <p class="original-price">R$ {{ product.originalPrice }}</p>
                }
            </div>

            <button>+</button>
        </div>
    </div>
</div>
