<div class="container">
    <mat-card>
        <mat-card-title>Cadastro de Produto</mat-card-title>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <textarea matInput rows="4" formControlName="description"></textarea>
            </mat-form-field>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="price">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Preço Original</mat-label>
                    <input matInput type="number" formControlName="originalPrice">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Rating</mat-label>
                <input matInput type="number" formControlName="rating">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>URL da Imagem</mat-label>
                <input matInput formControlName="imgUrl">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tags</mat-label>
                <input matInput formControlName="tags" placeholder="tech, gamer, notebook">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                Salvar
            </button>

        </form>
    </mat-card>
</div>